* div{
    background:white;
    display: flex;

}


.h1{
   color: black;
    font-weight:bold ;
    font-size: medium;

}
.div{
    color: rgba(32, 31, 31, 0.266);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 200;


}
.div:hover{
    color: rgba(204, 8, 8, 0.588);

}
